button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5rem;
    height: 5rem;
    width: 6rem;
}

span {
    margin-right: 5px;
}

/* Comment */
.comment-colored:hover svg {
    filter: drop-shadow(0px 0px 4px rgb(21, 0, 255));
    color:rgb(0, 30, 255);
}
.comment-colored:hover {
    background-color: rgba(108, 100, 255, 0.1);
}

/* Like */
.like-colored:hover svg {
    filter: drop-shadow(0px 0px 4px rgb(255, 0, 0));
    color:red;
}
.is-Mg {
    filter: drop-shadow(0px 0px 4px rgb(255, 0, 0));
    color:red;
}
.like-colored:hover {
    background-color: rgba(255, 100, 100, .10);
}

/* Retweet */
.rt-colored:hover svg {
    filter: drop-shadow(0px 0px 4px rgba(0, 255, 89, 0.398));
    color: #0dff00;
}
.is-Rt {
    filter: drop-shadow(0px 0px 4px rgb(0, 255, 89));
    color: #0dff00;
}
.rt-colored:hover {
    background-color: rgba(128, 255, 100, 0.1);
}

.tw-barActions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin: 5px 0 5px 0;
}